<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre de la Red"
          aria-label="Nombre de la Red"
          [(ngModel)]="name"
          (change)="save()"
          maxlength="2083"
          aria-describedby="basic-addon1" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Contraseña del WiFi"
          aria-label="Contraseña del WiFi"
          [(ngModel)]="pass"
          (change)="save()"
          maxlength="2083"
          aria-describedby="basic-addon1" />
      </div>
    </div>

    <div class="col-12" style="height: 32px;"></div>

    <div class="col-12">
      <select
        class="form-select"
        [(ngModel)]="typePass"
        (change)="save()"
        aria-label="Tipo de Contraseña">
        <option value="nopass" selected>Sin Contraseña</option>
        <option value="WEP">WEP</option>
        <option value="WPA">WPA</option>
        <option value="WPA2-EAP">WPA2-EAP</option>
      </select>
    </div>

    <div class="col-12" style="height: 32px;"></div>

    <div class="col-6">
      Es una Red Oculta
    </div>
    <div class="col-6">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="isHidden"
          (change)="save()"
          id="flexSwitchCheckDefault" />
      </div>
    </div>
    <div class="col-12">
      <p class="muted">En caso de que la red sea Oculta, por favor habilite esta opción.</p>
    </div>

  </div>
</div>
