<div class="col-12">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="ID"
      aria-label="ID"
      [(ngModel)]="idData"
      (change)="save()"
      maxlength="520" />
  </div>
</div>
