<div class="container home">
  <div class="row">
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row">
          <app-qrdata></app-qrdata>
          <div style="height: 36px;"></div>
          <app-imageconfig></app-imageconfig>
          <div style="height: 36px;"></div>
          <app-dotconfig></app-dotconfig>
          <div style="height: 36px;"></div>
          <app-cornerconfig></app-cornerconfig>
          <div style="height: 36px;"></div>
          <app-cornerdotconfig></app-cornerdotconfig>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-qrview></app-qrview>
    </div>
  </div>
</div>
