footer{
  background: var(--site-background);
  box-shadow: -5px -5px 5px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.footer-end{
  background: var(--site-color);
  color: var(--site-background) !important;
  padding: 5px;
}

.footer-end-text{
  margin-bottom: 0px;
  font-size: 18px;
}

.m-t-15{
  margin-top: 15px;
}

.contact-text{
  font-size: 20px;
}

.contact-text-icons{
  font-size: 30px;
}

.fa{
  color: var(--site-color)
}

.footer-end .fa{
  color: var(--site-background) !important;
}
