.tab-content{
  padding: 20px;
}

.nav-tabs{
  border-bottom: 1px solid var(--site-color);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: var(--site-color) var(--site-color) #fff;
}

.qrdata{
  background: var(--site-background);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
