<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img class="img-fluid navbar-img" src="/assets/img/lynx-qr.svg" alt="Lynx Software Design" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#lynxNav"
      aria-controls="lynxNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa fa-bars nav-icon" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse" id="lynxNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
